.css-yzjoij{
    display: none !important;
}

.css-14tatqh-MuiTypography-root{
    display: none !important;
}

.css-1ie2bpi-MuiButtonBase-root-MuiIconButton-root{
    display: none !important;
}

.css-r11f8c-MuiSvgIcon-root{
    display: none !important; 

}